BeautifulSoup==3.2.1
Embedly==0.5.0
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
PyYAML==3.11
Werkzeug==0.9.6
beautifulsoup4==4.3.2
chardet==2.3.0
contextlib2==0.4.0
futures==2.2.0
gunicorn==19.1.1
httplib2==0.9
itsdangerous==0.24
lucene-querybuilder==0.2
lxml==2.3.6
mock==1.0.1
nltk==3.0.0
porc==0.3.1
readability-lxml==0.3.0.5
requests==2.4.3
requests-futures==0.9.4
six==1.8.0
vcrpy==1.1.0
wsgiref==0.1.2
